@page
@model IndexModel
@{
    ViewData["Title"] = "Home page youhou";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>And womit because it's not well done at all'</p>
    </div>
</div>
